@{
    ViewBag.Title = "About Page";
}
<!--About page, modeled off of original about page-->
<h2 class="Headline">@ViewBag.Title</h2>
<h3>Author: Jason Denk</h3>

<p>Jason Denk was born and raised in Cleveland, Ohio.  Overtime, he has come to view life as a collection of experiences and hopes to experience great things and push others to find 
    the greatness that exists within.  He is an avid snowboarder, a recreational climber and surfer and enjoys activities that help him remain present in the moment.</p> 

<h3>DENK TRAVEL REVIEWS</h3>
<p> Be it finding a 
    great place to hang near a beach, finding a great snowboarding location, finding an adventure that pushes your limits, eating some food that blows your mind or experiencing anything
    that pushes you to be a better person, DENK TRAVEL REVIEWS wants your contributions and hopes you find something you like. </p>
